services:
    traefik:
        container_name: traefik
        image: traefik:3.6
        command:
            - "--api.insecure=true"

            # Watch Docker containers for Traefik labels and configure routes / services accordingly
            - "--providers.docker=true"

            # Don't expose Docker containers by default. Instead, require containers to opt in
            # via the `traefik.enable=true` label
            - "--providers.docker.exposedbydefault=false"

            # Accept incoming traffic on ports 80 (HTTP) & 443 (HTTPS)
            - "--entrypoints.web.address=:80"
            - "--entrypoints.websecure.address=:443"

            # Redirect HTTP to HTTPs
            - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
            - "--entrypoints.web.http.redirections.entrypoint.scheme=https"

            # Load configuration from YAML files in the /etc/traefik/dynamic folder
            # We'll add info here about local SSL certificates generated via mkcert
            - "--providers.file.directory=/etc/traefik/dynamic"

            # Reload Traefik when the YAML files from /etc/traefik/dynamic are edited
            - "--providers.file.watch=true"

            # Define an ACME resolver named "le"
            - "--certificatesresolvers.le.acme.email=sajad@hey.com"

            # The location to store private keys, certificates and renewal info for the "le" ACME resolver
            # This file must exist and have the permission 600 (owner=read+write)
            - "--certificatesresolvers.le.acme.storage=/letsencrypt/acme.json"

            # Enables the HTTP-01 ACME challenge so that Let's Encrypt can verify you own the domain
            # by calling your domain at http://<your-domain>/.well-known/.
            # This requires port 80 to be publicly open.
            - "--certificatesresolvers.le.acme.httpchallenge=true"
            - "--certificatesresolvers.le.acme.httpchallenge.entrypoint=web"

        ports:
            - "80:80"
            - "443:443"
            - "8080:8080"
        volumes:
            # Mounts your host machine's Docker socket to the Traefik container so Traefik
            # can read Docker labels and do its auto-routing magic.
            - /var/run/docker.sock:/var/run/docker.sock

            # SSL certificates generated by mkcert will be stored here
            - ./certs:/certs

            # Contains your dynamic Traefik configuration
            - ./dynamic:/etc/traefik/dynamic

            # Stores ACME data (acme.json) in production
            - ./letsencrypt:/letsencrypt
        networks:
            - traefik

networks:
    traefik:
        external: true
